@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&family=Nunito:wght@800&family=Roboto:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    overflow-x: hidden;
}
button{
    outline: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: grey;
    border-radius: 10px;
}
a{
    color: #050A30 !important;
    text-decoration: none !important;
}
.nav{
    position: sticky;
    top: 0;
    background:white;
    box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.5);
    width: 100%;
    padding: 1% 10% !important;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 10 !important;
}
.nav-img{
    height: 3rem;
}
.nav-tel{
    font-size: 1.2rem;
}
.nav-btn{
    margin-left: 20px;
    border: none;
    background-color:#56299e!important;
    font-size: 1.3rem;
    font-weight: 900;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    border-radius: 500px;
    transition: .3s;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 30%);
}
.nav-btn:hover{
    color: black;
}
.nav-btn:active{
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 30%) inset;
}
.main{
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.main-h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 70px;
    color:#56299e!important;
    text-align: center;
    font-weight: bold;
    line-height: 1.1;
    padding: 10px 50px;
    margin-top: 5%;
}
.item{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.item-img-wrap{
    width: 100%;
}
.item-img{
    width:100%;
}
.item-h1,.item-p{

    width: 100%;
    text-align: center;
}
.item-h1{
    color:#56299e!important;
    font-size: calc(1rem + 1.5vw) !important;
}
.item-p{
    color: #050A30;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.btn-wrap{
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-sub{
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0, 50% 10%);
    background-color: #7EC8E3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-sub h1{
    color: #56299e !important;
    padding: 5% 0;
}
.main-sub p{
    color: #050A30;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.8;
    width: 80%;
    font-size: 24px;
    text-align: center;
}
.main-sub button{
    margin-top: 5%;
}



.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    box-sizing: border-box;
}

.section {
    padding: 80px 0;
}

.section__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900;
    color: #56299e;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
}

.service__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.service__item {
    color: #050A30;
    position: relative;
    width: 450px;
    padding-left: 70px;
    flex-shrink: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

.service__item::before {
    content: "";
    position: absolute;
    left: 0;
    /* display: inline-block; */
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("./assets/mark.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 48px auto;
}

.section-button__wrapper {
    text-align: center;
}

.section__button {
    font-size: 24px;
    padding: 20px 40px;
    background-color:#56299e!important;
    text-transform: uppercase;
    border-radius: 500px;
    border: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    transition-duration: 0.3s;
}

.section__button:hover{
    color: #333;
}
.section__button:active{
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3) inset;
}
button{
   cursor: pointer;
}

.about-me__text {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}

.information {
    background-color: #7ec8e3;
}

.information__list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.information__item {
    padding: 0 15px;
}

.information__title {
    font-weight: bold;
    color: #050A30;
    line-height: 1.8;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.information__link {
    font-weight: 400;
    font-size: 14px;
    color: #050A30 !important;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}












@media screen and (max-width:991px) {
    .item{
        width: 40%;
    }
}
@media screen and (max-width:768px) {
    .nav{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
    .nav-btn{
        margin: 0;
        font-size: 1.7rem;
    }
    .nav-con{
        gap: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-h1{
        font-size: 36px;
    }
    .main-sub p{
        font-size: 18px;
    }
    .section__title{
        font-size: 36px;
    }
    .service__item{
        font-size: 18px;
        width: 100%;
    }
    .section__button{
        font-size: 24px;
    }
    .information__list{
        flex-direction: column;
        align-items: center;
    }
    .section__button{
        width: 80%;
        font-size: 20px;
    }
    .modal-content{
        width: 100% !important;
    }
}